@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary text-white;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-secondary to-yellow-300 bg-clip-text text-transparent;
  }
}